h1 {
  text-align: center;
  font-weight: 700;
  text-decoration: underline overline;
  text-decoration-color: orange;
  text-decoration-style: wavy;
  letter-spacing: 10px;
  font-size: 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

p {
  line-height: 2;
}
